/* 115: anim para el hover de contacto*/
.card:hover{
    transition: 0.4s;
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
.card:hover .card-body p, 
.card:hover .card-body h5{
    font-size: 1.15rem;
}
.card:hover .icon{
    font-size: 35px;
}

.row

<div class="col-md-4 py4 project">
                        <img src="images/box1.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-4 py4 project">
                        <img src="images/box2.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-md-4 py4 project">
                        <img src="images/box3.jpg" class="img-fluid" alt="">
                    </div>